/* RESET & BASIC */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

body {
    background: #0f172a;
    color: #e5e7eb;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: #020617;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #38bdf8;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.menu a:hover, .menu a.active {
    color: #38bdf8;
}

/* SECTIONS */
.section {
    padding: 80px 60px;
    min-height: 100vh;
}

.dark {
    background: #020617;
}

/* HOME */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.home-content h2 span {
    color: #38bdf8;
}

.home-content p {
    margin-top: 10px;
    font-size: 18px;
}

.home-image img {
    width: 220px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
}

/* BUTTONS */
button, .btn {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    background: #38bdf8;
    color: black;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.3s;
    text-decoration: none;
    display: inline-block;
}

button:hover, .btn:hover {
    background: #0ea5e9;
    transform: scale(1.05);
}

/* SKILLS SECTION */
.skill-item {
    margin-bottom: 20px;
}

.progress {
    width: 100%;
    height: 20px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background: #38bdf8;
    width: 0;
    transition: width 1s ease-in-out;
}

.progress-bar.html { width: 95%; }
.progress-bar.css { width: 95%; }
.progress-bar.js { width: 70%; }

/* PROJECT CARD */
.project-card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
}

/* FOOTER */
footer {
    background: #020617;
    color: #94a3b8;
    text-align: center;
    padding: 25px 0;
    margin-top: 60px;
    border-top: 2px solid #38bdf8;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.4);
    font-size: 14px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .home {
        flex-direction: column;
        text-align: center;
    }

    .header {
        flex-direction: column;
        gap: 10px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
    }
}
